/* General */

:root {
    /* Colores de fondo */
    --fondo1: #f6f6f6;
    --fondo2: #c1c5d6;
    
    /* Color de texto */
    --texto: #132335;

    /* Tamaño de Texto */
    --h1: 38px;
    --h2: 35px;
    --h3: 26px;
    --h4: 22px;
    --parrafos: 18px;
    --caption: 16px;
    --caption2: 14px;
    --input: 12px;
}

img {
    width: 100%;
}

/* Fin General */


/* Body */

body {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: var(--fondo1);
}

.grid-container-connect {
    display: grid;
    grid-template-rows: 100px 800px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    'header header'
    'connect connect'
}

.grid-container-about {
    display: grid;
    grid-template-rows: 100px 700px;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
    grid-template-areas: 
    'header header'
    'about about'
}


.grid-container-home {
    display: grid;
    grid-template-rows: 100px 400px 100px 400px 400px 100px 500px 300px;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
    grid-template-areas: 
    'header header'
    'intro intro'
    'title-featured title-featured'
    'section-pink section-pink'
    'section-linkedin section-linkedin'
    'title-branding title-branding'
    'branding branding'
    'footer footer';
}

.grid-container-work {
    display: grid;
    grid-template-rows: 100px 125px 450px 450px 300px;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
    grid-template-areas: 
    'header header'
    'title title'
    'section-pink section-pink'
    'section-linkedin section-linkedin'
    'footer footer';
}

/* Fin Body */

/* Index */

/* Header */

.header {
    grid-area: header;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    margin-bottom: 80px;
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.logo {
    width: 70px;
    height: 70px;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.item {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.item:hover {
    border-radius: 3px;
    animation: changeColor 10s;
}

@keyframes changeColor {
    0% {
        background-color: var(--fondo2);
    } 
}


/* Fin Header */


/* Sección 1 - Introducción */

.intro {
    grid-area: intro;
}

h1 {
    color: var(--texto);
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Alfa Slab One', cursive;
    font-size: var(--h1);
    padding-right: 200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.introduccion {
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: var(--h3);
    padding-right: 400px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* Fin Sección 1 */

/* Sección 2 */

.title-featured {
    grid-area: title-featured;
}

.featured {
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: var(--h2);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* Pink Drive */

.section-pink {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: section-pink;
}

.pinkdrive {
    width: 35%;
}

.pink-content {
    width: 65%;
}

.pinkdrive img {
    position: static;
    margin: 0;
    padding: 0;
    width: 492.72;
    height: 396.52;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pinkdrive:hover {
    transform: translateX(20px) scale(1.05);
    transition: all 0.2s ease-in;
}



.pinkdrive_title {
    font-family: 'Alfa Slab One', cursive;
    font-size: var(--h3);
    color: var(--texto);
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.pinkdrive_text {
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--parrafos);
    color: var(--texto);
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* Fin Pink Drive */

/* Linkedin */

.section-linkedin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: section-linkedin;
}

.linkedin {
    width: 35%;
}

.linkedin-content {
    width: 65%;
}

.linkedin img {
    position: static;
    margin: 0;
    padding: 0;
    width: 492.72;
    height: 396.52;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.linkedin:hover {
    transform: translateX(20px) scale(1.05);
    transition: all 0.2s ease-in;
}

.linkedin_title {
    padding-left: 20px;
    font-family: 'Alfa Slab One', cursive;
    font-size: var(--h3);
    color: var(--texto);
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.linkedin_text {
    margin-bottom: 30px;
    padding-left: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--parrafos);
    color: var(--texto);
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* Fin Linkedin */

/* Fin Sección 2 */


/* Sección 3 - Branding Projects */

.title-branding {
    grid-area: title-branding;
}

.branding {
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: var(--h2);
}

.brand-grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-area: branding;
}

.brand-grid {
    width: 100%;
    display: flex;
    justify-content: center;
}

.brand {
    margin: 20px 10px;
    position: relative;
    display: flex;
}

.brand:hover {
    transform: scale(0.95);
}


/* Fin Sección 3 */

/* Footer - Job inquiries */

.job {
    margin: 40px 0px;
    background-color: var(--fondo2);
    padding: 10px;
    grid-area: footer;
}

.job_inquiries {
    padding-top: 30px;
    padding-left: 80px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--h4);
}

.thanks {
    padding-left: 80px;
    padding-bottom: 30px;
    font-family: 'Alfa Slab One', cursive;
    font-size: var(--h3);
    color: var(--texto);
}

/* Footer*/

/* Fin Index */


/* My Work */

.title {
    grid-area: title;
}

.my_work {
    color: var(--texto);
    font-family: 'Alfa Slab One', cursive;
    font-size: var(--h1);
}

/* Fin My Work */


/* About */

.nat img {
    position: relative;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.section_about {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: about;
}

.about_name {

    color: var(--texto);
    margin: 0px 0px;
    font-family: 'Alfa Slab One', cursive;
    font-size: var(--h1);
}

.i_am_a {

    color: var(--texto);
    margin-top: 0;
    padding-top: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--h3);
}

.about {

    color: var(--texto);
    margin-top: 50px;
    padding-right: 60px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--caption);
}

.values {

    color: var(--texto);
    margin-top: 20px;
    padding-right: 60px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--caption);
}

/* Fin About */

/* Connect */

.section_connect {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: about;
}

.nat-2 img {
    position: relative;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.connect {

    color: var(--texto);
    margin: 0px 0px;
    padding-left: 700px;
    font-family: 'Alfa Slab One', cursive;
    font-size: var(--h1);
}

.myemail {

    color: var(--texto);
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 0;
    padding-left: 700px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--h4);
}

.name {

    border: 1px solid var(--fondo2);
    margin-left: 700px;
    padding: 10px 300px 10px 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--input);
}

.email {

    border: 1px solid var(--fondo2);
    margin-left: 700px;
    margin-top: 20px;
    padding: 10px 300px 10px 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--input);
}

.mensaje {

    border: 1px solid var(--fondo2);
    margin-left: 700px;
    margin-top: 20px;
    padding: 10px 250px 10px 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--input);
}

.botonsend {

    border: 1px solid var(--fondo2);
    margin-left: 700px;
    margin-top: 20px;
    padding: 10px 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--input);

}

/* Fin Connect */

/* Medidas Queries */

@media screen and (max-width: 480px) {

    body {
        margin-bottom: 25px;
        margin-left: 20px;
        margin-right: 40px;
    }

    .grid-container-home {
        grid-template-rows: 100px 275px 75px 150px 150px 50px 450px 250px;
        grid-template-columns: 90%;
    }

    .grid-container-work {
        grid-template-rows: 100px 75px 150px 150px 250px;
        grid-template-columns: 90%;
    }

    .grid-container-about {
        grid-template-rows: 100px 300px;
    }

    .navigation {
        padding-right: 0px;
        margin-bottom: 40px;
        font-size: 14px;
    }
    
    .logo {
        width: 50px;
        height: 50px;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: var(--h4);
        padding-right: 0;
    }
    
    .introduccion {
        font-size: var(--parrafos);
        padding-right: 0;
    }

    .featured {
        font-size: var(--h4);
    }

    .section-pink {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .pinkdrive img {
        width: 100%;
        height: auto;
    }
    
    .pinkdrive_title {
        font-size: var(--parrafos);
        padding-left: 20px;
    }
    
    .pinkdrive_text {
        margin-bottom: 30px;
        font-size: var(--input);
        padding-left: 20px;
    }

    .section-linkedin {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .linkedin img {
        width: 100%;
        height: auto;
    }
    
    .linkedin_title {
        font-size: var(--parrafos);
        padding-left: 20px;
    }
    
    .linkedin_text {
        margin-bottom: 30px;
        font-size: var(--input);
        padding-left: 20px;
    }

    .branding {
        font-size: var(--h3);
    }

    .brand {
        margin: 10px 5px;
    }

    .brand img {
        width: 100%;
        height: 50%;
    }

    .job {
        margin: 20px 0px;
        padding: 10px;
    }
    
    .job_inquiries {
        padding-top: 7.5px;
        padding-left: 20px;
        font-size: var(--caption);
    }
    
    .thanks {
        padding-left: 20px;
        padding-bottom: 20px;
        font-size: var(--parrafos);
    }

    .my_work {
        font-size: var(--h4);
    }

    .about_name {
        font-size: var(--h4);
    }
    
    .i_am_a {
        font-size: var(--parrafos);
    }
    
    .about {
        font-size: var(--input);
        margin-top: 12.5px;
        padding-right: 15px;
    }
    
    .values {
        font-size: var(--input);
        margin-top: 5px;
        padding-right: 15px;
    }

}

@media screen and (min-width: 481px) and (max-width: 980px) {

    body {
        margin-bottom: 50px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .grid-container-home {
        grid-template-rows: 100px 400px 100px 225px 225px 50px 450px 250px;
    }

    .grid-container-work {
        grid-template-rows: 100px 100px 225px 225px 250px;
    }

    .grid-container-about {
        grid-template-rows: 100px 350px;
    }

    .grid-container-connect {
        grid-template-rows: 100px 400px;
    }

    h1 {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: var(--h3);
        padding-right: 50px;
    }
    
    .introduccion {
        font-size: var(--h4);
        padding-right: 100px;
    }

    .featured {
        margin-top: 50px;
        font-size: var(--h3);
    }

    .section-pink {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .pinkdrive img {
        width: 100%;
        height: auto;
    }
    
    .pinkdrive_title {
        font-size: var(--h4);
        padding-left: 40px;
    }
    
    .pinkdrive_text {
        margin-bottom: 30px;
        font-size: var(--caption);
        padding-left: 40px;
    }

    .section-linkedin {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .linkedin img {
        width: 100px;
        height: auto;
    }
    
    .linkedin_title {
        font-size: var(--h4);
        padding-left: 40px;
    }
    
    .linkedin_text {
        font-size: var(--caption);
        padding-left: 40px;
    }

    .branding {
        font-size: var(--h3);
    }

    .brand img {
        width: 100%;
        height: 75%;
    }

    .job {
        margin: 20px 0px;
        padding: 10px;
    }
    
    .job_inquiries {
        padding-top: 15px;
        padding-left: 40px;
        font-size: var(--parrafos);
    }
    
    .thanks {
        padding-left: 40px;
        padding-bottom: 15px;
        font-size: var(--h4);
    }

    .my_work {
        font-size: var(--h3);
    }

    .about_name {
        font-size: var(--h3);
    }
    
    .i_am_a {
        font-size: var(--h4);
    }
    
    .about {
        font-size: var(--caption2);
        margin-top: 25px;
        padding-right: 30px;
    }
    
    .values {
        font-size: var(--caption2);
        margin-top: 10px;
        padding-right: 30px;
    }

}

/* Fin Medidas Queries */
