:root {
    /* Colores de fondo */
    --fondo1: #f6f6f6;
    --fondo2: #c1c5d6;
   
    /* Color de texto */
    --texto: #132335;

    /* 
   --h1: 38px;
   --h2: 35px;
   --h3: 26px;
   --h4: 22px;
   --parrafos: 18px;
   --caption: 16px;
   --caption2: 14px;
   --input: 12px;
   */
  
 }

 body {
     background-color: var(--fondo1);
 }
 

.texto-nav {
    color: var(--texto);
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.intro-pequeño {
    color: var(--texto);
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    padding-right: 200px;
}

.intro-grande {
    color: var(--texto);
    font-size: 38px;
    font-family: 'Alfa Slab One', cursive;
    padding-right: 200px;
}

.featured {
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
 }

.project_title {
    color: var(--texto);
    font-size: 22px;
    font-family: 'Alfa Slab One', cursive;
    padding-left: 40px;
}

.project_text {
    color: var(--texto);
    font-size: 16px;
    padding-left: 40px;
}

.inquiries {
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.thanks {
    color: var(--texto);
    font-family: 'Alfa Slab One', cursive;
    font-size: 22px;
}

footer {
    background-color: var(--fondo2);
}

.about_name {
    color: var(--texto);
    font-family: 'Alfa Slab One', cursive;
    font-size: 38px;
}

.i_am_a {
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
}

.about { 
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.values { 
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.connect {
    color: var(--texto);
    font-family: 'Alfa Slab One', cursive;
    font-size: 38px;
}

.myemail {
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
}

.texto {
    color: var(--texto);
    font-family: 'Alfa Slab One', cursive;
    font-size: 14px;
}

.texto-caption {
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.boton {
    background-color: var(--fondo2);
    border: none;
}
 


  

 
