@import '../base/variables';

.about_name {
    color: $text-color;
    font-family: $fuente2;
    font-size: $heading1;
}

.i_am_a {
    color: $text-color;
    font-family: $fuente1;
    font-size: $heading3;
}

.img_nat {
    width: 90%;
    margin-bottom: 30px;
}

.about { 
    color: $text-color;
    font-family: $fuente1;
    font-size: $caption1;
}

.values { 
    color: $text-color;
    font-family: $fuente1;
    font-size: $caption1;
}

