

$bg-color-general: #f6f6f6;
$bg-color-footer1: #e4dff3;
$bg-color-footer2: #b6bacf;
$text-color: #132335;
$text-color-hover: #050b13;
$boton-hover: #7383cc;
$bg-img-overlay: #e4dff3;


$heading1: 38px;
$heading2: 35px;
$heading3: 26px;
$heading4: 22px;
$parrafos: 18px;
$caption1: 16px;
$caption2: 14px;
$input: 12px;


$fuente1: 'Quicksand', sans-serif;
$fuente2: 'Alfa Slab One', cursive;




